.cover__subtitle {
  margin: 0 auto;
  padding-top: 32px;
  max-width: 360px;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  z-index: 3;
}

.cover__subtitle:hover ~ .cover__overlay {
  background-color: #2a2c2f;
  opacity: 0.8;
}
