.header {
  margin: 0 auto;
  max-width: 1184px;
  padding: 28px 48px 0;
  display: grid;
  grid-template-columns: 1fr repeat(2, 30px);
  grid-auto-flow: column;
  grid-auto-columns: 30px;
  gap: 18px;
  align-items: center;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header {
    padding: 28px 24px 0;
  }
}

@media screen and (max-width: 767px) {
  .header {
    grid-template-columns: 1fr repeat(2, 22px);
    grid-auto-columns: 22px;
    padding: 16px 16px 0;
  }
}
