.header {
  margin: 0 auto;
  padding: 28px 48px 0;
  max-height: 52px;
  display: grid;
  grid-template-columns: 1fr 30px 30px;
  gap: 18px;
  align-items: center;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header {
    padding: 28px 24px 0;
  }
}

@media screen and (max-width: 767px) {
  .header {
    grid-template-columns: 1fr 22px 22px;
    padding: 16px 16px 0;
  }
}
