.footer__content {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 18px;
}

@media screen and (max-width: 737px) {
  .footer__content {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, max-content);
    gap: 48px;
  }
}
